<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/css.css" />
	<title>MDS</title>
</head>

<body>

	<div class="header">

		<a href="index.html" class="logo">
			<img src="images/logo.png" alt="" width="50%">
		</a>

		<div class="nav">
			<a href="news.html">About MDSA</a><em>|</em><a href="way.html">Ask for help</a><em>|</em><a
				href="about.html">Activity Center</a><em>|</em><a href="index.html">Forum</a>
		</div>

	</div>

	<div class="h_ab">
		<h1>Registration form</h1>
		<p>
			To ensure the safety of site users, you must register to go through the site administrator's audit. Please
			note by completing the following questionnaire with the actual situation.<br>
			After completing and submitting the form, if the form is approved, the tutor will confirm your registration
			privately; if the form is not endorsed, the tutor will contact you by phone for more information to ensure
			your security and privacy. Please wait patiently.<br>
			The following information is only for information and audit purposes. Your data will be strictly
			confidential.<br>
			(If you have any inconvenience or need urgent help, don't hesitate to get in touch with us directly by
			phone; we will make every effort to help you, tel: 12344321)
		</p>
		<p>Which of the following would you like to use the site as？</p>
		<p><input type="checkbox">Mother or <input type="checkbox">Daughter</p>
		<table>
			<tr>
				<td>
					<p>Nickname: </p>
				</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>
					<p>Age:</p>
				</td>
				<td><input type="text"></td>
			</tr>
		</table>
		<p>Contact information:</p>
		<p>If you do not want us to contact you, please select this field. <input type="checkbox"></p>
		<p>And please leave a possible email or phone number for identification purposes: <input type="text"></p>
		<p>You are using this site for:</p>
		<p>A. simply curious<br>
			B. want to learn about MDSA<br>
			C. want to use this website forum to communicate with others online<br>
			D. To get professional counseling or other help
		</p>
		<h2><span><a href="index.html">sunbmit</a></span></h2>
		<div class="clear"></div>
	</div>

	<div class="footer">
		<p>EDSF</p>
	</div>


</body>

<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script>
	new FadeAdver({
		btns: $(".banner .btns span"),
		divs: $(".banner .pics li"),
		speed: 5000
	});
</script>

</html>