<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- a link to public folder icon, use %%PUBLIC_URL%% to refer this folder -->
    <link rel="icon" href="%PUBLIC_URL%/image/avatar.ico" />
    <title>2023-24 Term1 Timetable</title>
    <link rel="stylesheet" type="text/css" href="../../css/timetable.css">


    <!-- return icon stylesheet -->
    <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/814179a032.js" crossorigin="anonymous"></script>
</head>




<body>
    <!-- Navigation Bar -->
    <script>
        fetch('https://raw.githubusercontent.com/Gavin-OP/Gavin-OP.github.io/master/public/component/common/navbar.html')
            .then(response => response.text())
            .then(htmlCode => {
                document.getElementById('navBar').innerHTML = htmlCode;
            })
            .catch(error => console.error('Error fetching code:', error));
    </script>
    <div id="navBar"></div>



    <!-- timetable -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <table cellspacing="0" class="PSLEVEL1GRIDWBO" id="SSR_DUMMY_REC$scroll$0" role="presentation" dir="ltr"
            cols="1" cellpadding="0"> <!-- class for border-->
            <tbody>
                <tr>
                    <td class="PSLEVEL1GRIDLABEL" align="left"><!-- class for header -->
                        <div id="win0divSSR_DUMMY_RECGP$0">2023-24 Term2 Schedule</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- <table dir="ltr" border="0" cellpadding="2" cellspacing="0" cols="1" width="100%" class="PSLEVEL1GRID" -->
                        <table dir="ltr" border="0" cellpadding="2" cellspacing="0" cols="1" width="100%"
                            class="PSLEVELD" style="border-style:none">
                            <tbody>
                                <tr id="trSSR_DUMMY_REC$0_row1" valign="center">
                                    <td align="left" width="702" height="18"
                                        class="PABACKGROUNDINVISIBLE PSGRIDFIRSTCOLUMN">
                                        <div id="win0divDERIVED_CLASS_S_HTMLAREA$0">
                                            <div style="min-width:702px; ">
                                                <!-- Begin HTML Area Name Undisclosed -->
                                            </div><!--  close Tools-generated div -->
                                            <div>

                                                <table cellspacing="0" cellpadding="2" width="100%"
                                                    class="PSLEVEL3GRIDODDROW" id="WEEKLY_SCHED_HTMLAREA"
                                                    summary="Weekly Schedule">
                                                    <colgroup span="1" width="15%" align="center" valign="middle">
                                                    </colgroup>
                                                    <colgroup span="5" width="17%" align="center" valign="middle">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Time
                                                            </th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Monday<br>
                                                                Jan 8</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Tuesday<br>
                                                                Jan 9</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Wednesday<br>
                                                                Jan 10</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Thursday<br>
                                                                Jan 11</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Friday<br>
                                                                Jan 12</th>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">8:00AM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">9:00AM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);">SOWK
                                                                    3310 - -<br>Social Welfare
                                                                    Administration<br>Lecture<br>9:30AM -
                                                                    11:15AM<br>T.C.
                                                                    Cheng
                                                                    Bldg C3<br>Instructors: <br>Professor LEUNG Tse Fong
                                                                    Terry</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">10:00AM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">11:00AM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);">SOWK
                                                                    3310 - -T03<br>Social Welfare
                                                                    Administration<br>Interactive
                                                                    Tutorial<br>11:30AM - 1:15PM<br>Tsang Shiu Tim Bldg
                                                                    102<br>Instructors: <br>Professor LEUNG Tse Fong
                                                                    Terry,
                                                                    <br>Dr. WONG Chun Miao</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);">GEWS
                                                                    1000 - -A01<br>College Assembly/High
                                                                    Table<br>Assembly<br>11:30AM - 1:15PM<br>Lee Shau
                                                                    Kee
                                                                    Building LT6<br>Instructors: <br>Dr. LUK Sau
                                                                    Ha</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">12:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">1:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                                style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);">PSYC
                                                                    2300 - -L01<br>Basic Learning
                                                                    Processes<br>Laboratory<br>1:30PM - 2:15PM<br>Esther
                                                                    Lee
                                                                    Bldg LT4<br>Instructors: <br>Dr. XU Xingya</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">2:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);">PSYC
                                                                    2300 - -<br>Basic Learning
                                                                    Processes<br>Lecture<br>2:30PM -
                                                                    4:15PM<br>Esther Lee Bldg LT3<br>Instructors:
                                                                    <br>Dr. XU
                                                                    Xingya</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);">CLCC
                                                                    2703 - H<br>Intermed CAN for Chi
                                                                    Speakers<br>Lecture<br>2:30PM - 4:15PM<br>Wu Ho Man
                                                                    Yuen
                                                                    Bldg 405<br>Instructors: <br>Dr CHAN Sze Mun</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);">PSYC
                                                                    3730 - -<br>Professional
                                                                    Development<br>Lecture<br>2:30PM -
                                                                    4:15PM<br>Sino Building LT2<br>Instructors: <br>Dr.
                                                                    CHAN
                                                                    Hoi
                                                                    Kei Gloria</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">3:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                                style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);">SOWK
                                                                    1130 - -<br>Living with grief<br>Lecture<br>3:30PM -
                                                                    6:15PM<br>T.C. Cheng Bldg C4<br>Instructors: <br>Ms.
                                                                    LEE
                                                                    Wang</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">4:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                                style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(253, 205, 211);">PSYC
                                                                    3730 - -T02<br>Professional
                                                                    Development<br>Interactive
                                                                    Tutorial<br>4:30PM - 5:15PM<br>Lee Shau Kee Archi
                                                                    Bldg
                                                                    G04<br>Instructors: <br>Dr. CHAN Hoi Kei
                                                                    Gloria</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">5:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="1" scope="row"><span
                                                                    class="">6:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- End HTML Area -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>