body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.empty-state {
  margin: 5px;
  display: flex;
  height: calc(100vh - 10px);
  align-items: center;
  justify-content: center;
}

/* .folderContainerBody {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-gap: 1em;
} */

.file-explorer-item {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 4px 8px;
  color: #242424ac;
  word-wrap: break-word;
  white-space: normal;
  font-size: 14px;
}

.file-explorer-item:hover {
  /* color: black;
  font-weight: bolder; */
  background-color: rgba(0, 0, 0, 0.05);
}

.file-explorer-children {
  display: block;
  margin-left: 16px;
  border-left: 1px solid #e0e0e07c;
}

.folder,
.file {
  /* background-color: #393E41; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-between;
  padding: 3px 4px;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.folder:hover,
.file:hover {
  /* background-color: rgb(120, 120, 120); */
  border-radius: 5px;
}

.folder > span,
.file > span {
  /* color: #fff; */
  /* display: block; */
  /* align-items: center; */
  word-wrap: break-word;
  white-space: normal;
}

.folder > span > label,
.file > span > label {
  display: inline-block;
  margin: 1px 5px;
  top: 1.5px;
  /* position: absolute; */
}

.file-explorer-icon-label {
  word-wrap: break-word;
  white-space: normal;
}

.file-explorer-icon-label svg {
  width: 14px; /* 固定图标大小 */
  height: 14px; /* 固定图标大小 */
  margin-top: -3px; /* 图标和文本之间的间距 */
}

/* .folder > span > input {
  width: 75%;
  margin-left: 5px;
}

.folder > div > button {
  font-size: 16px;
} */

/* .file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 4px;
  width: 300px;
  position: relative;
  cursor: pointer;
} */

/* .file > span > label {
  display: inline-block;
  margin: 3px 5px;
  position: absolute;
  top: 1.5px;
} */
/* .folder:hover .buttons-container {
  visibility: visible;
} */

/* button {
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0 4px;
} */

/* .buttons-container {
  display: flex;
  visibility: hidden;
} */

/* .addItem {
  background-color: #393e41;
  align-items: center;
  padding: 5px 3px;
  width: 300px;
  position: relative;
} */

/* .addItem > span {
  color: white;
  padding-right: 5px;
} */

/* .file-explorer {
  font-size: 14px;
  user-select: none;
  width: 300px;
} */

/* 
.file-explorer {
    font-size: 14px;
    user-select: none;
}

.file-explorer-item {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
}

.file-explorer-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.file-explorer-icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.file-explorer-icon svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.file-explorer-children {
    margin-left: 16px;
    border-left: 1px solid #e0e0e0;
}

.folder {
    color: #1a73e8;
}

.file {
    color: #5f6368;
} */
