<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-23JZF546MQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-23JZF546MQ');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="../../image/avatar.ico" />
    <title>2023-24 Term2 Timetable</title>
    <link rel="stylesheet" type="text/css" href="../../css/timetable.css">

    <!-- return icon stylesheet -->
    <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/814179a032.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <script>
        fetch('https://raw.githubusercontent.com/Gavin-OP/Gavin-OP.github.io/master/public/component/common/navbar.html')
            .then(response => response.text())
            .then(htmlCode => {
                document.getElementById('navBar').innerHTML = htmlCode;
            })
            .catch(error => console.error('Error fetching code:', error));
    </script>
    <div id="navBar"></div>




    <!-- timetable -->
    <div style="display: flex; justify-content: center; align-items: center;">
        <!-- <h1>2023 Timetable</h1> -->
        <div
            style="border: 2px solid #e6e6e6; padding: 20px; border-radius: 5px; background-color: #f5f5f5; text-align: center;">
            <table cellspacing="0" class="PSLEVEL1GRIDWBO" id="SSR_DUMMY_REC$scroll$0" role="presentation" dir="ltr"
                cols="1" width="776" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="PSLEVEL1GRIDLABEL" align="left">
                            <div id="win0divSSR_DUMMY_RECGP$0">2023-2024 Term2 Schedule</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table dir="ltr" border="0" cellpadding="2" cellspacing="0" cols="1" width="100%"
                                class="PSLEVEL1GRID" style="border-style:none">
                                <tbody>
                                    <tr id="trSSR_DUMMY_REC$0_row1" valign="center">
                                        <td align="left" width="702" height="18"
                                            class="PABACKGROUNDINVISIBLE PSGRIDFIRSTCOLUMN">
                                            <div id="win0divDERIVED_CLASS_S_HTMLAREA$0">
                                                <div style="min-width:702px; ">
                                                    <!-- Begin HTML Area Name Undisclosed -->
                                                </div><!--  close Tools-generated div -->
                                                <div>

                                                    <table cellspacing="0" cellpadding="2" width="100%"
                                                        class="PSLEVEL3GRIDODDROW" id="WEEKLY_SCHED_HTMLAREA"
                                                        summary="Weekly Schedule">
                                                        <colgroup span="1" width="9%" align="center" valign="middle">
                                                        </colgroup>
                                                        <colgroup span="7" width="13%" align="center" valign="middle">
                                                        </colgroup>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="col" align="center"
                                                                    class="PSLEVEL3GRIDODDROW">Time</th>
                                                                <th scope="col" align="center"
                                                                    class="PSLEVEL3GRIDODDROW">Monday<br>
                                                                    Jan 8</th>
                                                                <th scope="col" align="center"
                                                                    class="PSLEVEL3GRIDODDROW">Tuesday<br>
                                                                    Jan 9</th>
                                                                <th scope="col" align="center"
                                                                    class="PSLEVEL3GRIDODDROW">Wednesday<br>
                                                                    Jan 10</th>
                                                                <th scope="col" align="center"
                                                                    class="PSLEVEL3GRIDODDROW">Thursday<br>
                                                                    Jan 11</th>
                                                                <th scope="col" align="center"
                                                                    class="PSLEVEL3GRIDODDROW">Friday<br>
                                                                    Jan 12</th>
                                                                <th scope="col" align="center"
                                                                    class="PSLEVEL3GRIDODDROW">Saturday<br>
                                                                    Jan 13</th>
                                                                <th scope="col" align="center"
                                                                    class="PSLEVEL3GRIDODDROW">Sunday<br>
                                                                    Jan 14</th>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">8:00AM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">9:00AM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                    <span class=""
                                                                        style="color:rgb(0,0,0);background-color:rgb(182,209,146);">STAT
                                                                        4002 - <br>Applied Multivariate
                                                                        Analysis<br>Lecture<br>9:30AM - 12:15PM<br>Mong
                                                                        Man Wai Bldg 703<br>Instructors: <br>Professor
                                                                        LIN Zhixiang</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                    <span class=""
                                                                        style="color:rgb(0,0,0);background-color:rgb(182,209,146);">STAT
                                                                        4010 - <br>Bayesian
                                                                        Learning<br>Lecture<br>9:30AM -
                                                                        12:15PM<br>William M W Mong Eng Bldg
                                                                        407<br>Instructors: <br>Professor CHAN Kin
                                                                        Wai</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                    <span class=""
                                                                        style="color:rgb(0,0,0);background-color:rgb(182,209,146);">FINA
                                                                        4380 - A<br>Algor Trad Strate, Arbit &amp;
                                                                        HFT<br>Lecture<br>9:30AM - 12:15PM<br>Esther Lee
                                                                        Bldg 401<br>Instructors: <br>Professor LAW Ka
                                                                        Fai</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">10:00AM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">11:00AM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">12:00PM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">1:00PM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">2:00PM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                    <span class=""
                                                                        style="color:rgb(0,0,0);background-color:rgb(182,209,146);">FINA
                                                                        3070 - E<br>Corp Fin:Theory &amp;
                                                                        Practice<br>Lecture<br>2:30PM - 5:15PM<br>Cheng
                                                                        Yu Tung Building 203<br>Instructors:
                                                                        <br>Professor FONG Wai Ming</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                    <span class=""
                                                                        style="color:rgb(0,0,0);background-color:rgb(182,209,146);">FINA
                                                                        4400 - A<br>Behavioral
                                                                        Finance<br>Lecture<br>2:30PM - 5:15PM<br>Cheng
                                                                        Yu Tung Building 409<br>Instructors:
                                                                        <br>Professor CEN Ling</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">3:00PM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                                    style="color:rgb(0,0,0);background-color:rgb(143, 170, 220);text-align: center;">
                                                                    <span class=""
                                                                        style="color:rgb(0,0,0);background-color:rgb(143, 170, 220);">STAT
                                                                        4002 - Tut <br>Applied Multivariate
                                                                        Analysis<br>Lecture<br>3:30PM - 4:15PM<br>Lady
                                                                        Shaw Bldg LT2<br>Instructors: <br>
                                                                        Ji Qi</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">4:00PM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row">
                                                                    <span class="">5:00PM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                                    style="color:rgb(0,0,0);background-color:rgb(143, 170, 220);text-align: center;">
                                                                    <span class=""
                                                                        style="color:rgb(0,0,0);background-color:rgb(143, 170, 220);">STAT
                                                                        4010 - Tut<br>Bayesian
                                                                        Learning<br>Tutorial<br>17:30PM -
                                                                        18:15PM<br>Lady Shaw Bldg LT1<br>Instructors:
                                                                        <br> Martin
                                                                    </span>
                                                                </td>

                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="PSLEVEL3GRIDODDROW" rowspan="1" scope="row">
                                                                    <span class="">6:00PM</span>
                                                                </td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- End HTML Area -->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>