.dropdown-menu {
  --bs-dropdown-min-width: 5rem;
  --bs-dropdown-link-active-bg: #fff;
  --bs-dropdown-link-active-color: rgb(32, 33, 36);
}

nav {
  text-align: center;
  font-size: 20px;
  padding: 1rem;
  position: flex;
  top: 0;
  width: 100%;
  margin-top: 10px;
  height: 10vh;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 9vw;
}

.navBarLink {
  text-decoration: none;
  color: #878889;
  font-weight: normal;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.navBarLink:hover {
  color: #dbdbdb;
  font-weight: bold;
}

button.navBarLink {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

button.navBarLink:focus {
  outline: none;
}

.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}

@media (max-width: 768px) {
  li {
    margin: 0 9vw;
  }
}

@media (min-width: 1000px) {
  nav {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    margin: 0 10rem;
  }
}
