<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-23JZF546MQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-23JZF546MQ');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="../../../image/avatar.ico" />
    <title>2019-20 Term2 Timetable</title>
    <link rel="stylesheet" type="text/css" href="../../../css/timetable.css">

    <!-- return icon stylesheet -->
    <link rel="stylesheet" type="text/css" href="../../../css/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/814179a032.js" crossorigin="anonymous"></script>
</head>



<body>
    <!-- Navigation Bar -->
    <script>
        fetch('https://raw.githubusercontent.com/Gavin-OP/Gavin-OP.github.io/master/public/component/common/navbar.html')
            .then(response => response.text())
            .then(htmlCode => {
                document.getElementById('navBar').innerHTML = htmlCode;
            })
            .catch(error => console.error('Error fetching code:', error));
    </script>
    <div id="navBar"></div>



    <!-- Timetable -->
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2em">
        <table cellspacing="0" class="PSLEVEL1GRIDWBO" id="SSR_DUMMY_REC$scroll$0" role="presentation" dir="ltr"
            cols="1" width="776" cellpadding="0">
            <tbody>
                <tr>
                    <td class="PSLEVEL1GRIDLABEL" align="left">
                        <div id="win0divSSR_DUMMY_RECGP$0">2019-2020 Term2 Schedule</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table dir="ltr" border="0" cellpadding="2" cellspacing="0" cols="1" width="100%"
                            class="PSLEVEL1GRID" style="border-style:none">
                            <tbody>
                                <tr id="trSSR_DUMMY_REC$0_row1" valign="center">
                                    <td align="left" width="702" height="18"
                                        class="PABACKGROUNDINVISIBLE PSGRIDFIRSTCOLUMN">
                                        <div id="win0divDERIVED_CLASS_S_HTMLAREA$0">
                                            <div style="min-width:702px; ">
                                                <!-- Begin HTML Area Name Undisclosed -->
                                            </div><!--  close Tools-generated div -->
                                            <div>

                                                <table cellspacing="0" cellpadding="2" width="100%"
                                                    class="PSLEVEL3GRIDODDROW" id="WEEKLY_SCHED_HTMLAREA"
                                                    summary="Weekly Schedule">
                                                    <colgroup span="1" width="9%" align="center" valign="middle">
                                                    </colgroup>
                                                    <colgroup span="7" width="13%" align="center" valign="middle">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Time</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Monday</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Tuesday</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Wednesday</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Thursday</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Friday</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Saturday</th>
                                                            <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                                Sunday</th>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">8:00AM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">MATH
                                                                    1030 - F<br>Linear Algebra I<br>Lecture<br>8:30AM -
                                                                    10:15AM<br>Yasumoto Int'l Acad Park
                                                                    LT8<br>Instructors: <br>Dr. SHIU Wai Chee</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">CHLT
                                                                    1100 - QG<br>University Chinese
                                                                    I<br>Lecture<br>8:30AM - 11:15AM<br>Yasumoto Int'l
                                                                    Acad Park 507<br>Instructors: <br>Dr. HUNG Yeuk
                                                                    Chun</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">9:00AM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">MATH
                                                                    1030 - F<br>Linear Algebra I<br>Lecture<br>9:30AM -
                                                                    10:15AM<br>Yasumoto Int'l Acad Park
                                                                    LT8<br>Instructors: <br>Dr. SHIU Wai Chee</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">10:00AM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">UGFN
                                                                    1000 - PT03<br>In Dialogue With
                                                                    Nature<br>Interactive Tutorial<br>10:30AM -
                                                                    12:15PM<br>Wong Foo Yuan Bldg 405<br>Instructors:
                                                                    <br>Dr. WU Jun</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">MATH
                                                                    1030 - FT02<br>Linear Algebra I<br>Interactive
                                                                    Tutorial<br>10:30AM - 11:15AM<br>Yasumoto Int'l Acad
                                                                    Park LT8<br>Instructors: <br>Dr. SHIU Wai
                                                                    Chee</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">11:00AM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">ENGG
                                                                    1000 - AC<br>IT Foundation<br>Lecture<br>11:30AM -
                                                                    12:15PM<br>Yasumoto Int'l Acad Park
                                                                    403<br>Instructors: <br>Dr. CHEONG Chi Hong</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">GEUC
                                                                    1000 - AA01<br>College
                                                                    Assembly<br>Assembly<br>11:30AM -
                                                                    1:15PM<br>Location: TBA<br>Instructors:
                                                                    <br>Professor LEE Hung Kay</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">12:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">PHED
                                                                    1031 - F<br>Tennis (Men)<br>Lecture<br>12:30PM -
                                                                    2:15PM<br>Tennis Court # 3, 4, 5 <br>Instructors:
                                                                    <br>Dr. LAU Kwok On</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">1:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">UGFN
                                                                    1000 - P<br>In Dialogue With
                                                                    Nature<br>Lecture<br>1:30PM - 2:15PM<br>Lee Shau Kee
                                                                    Building LT1<br>Instructors: <br>Dr. WU Jun</span>
                                                            </td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">2:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">STAT
                                                                    1011 - -<br>Introduction to
                                                                    Statistics<br>Lecture<br>2:30PM - 5:15PM<br>William
                                                                    M W Mong Eng Bldg LT<br>Instructors: <br>Dr. LEE Pak
                                                                    Kuen Philip</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                                style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                                <span class=""
                                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">DSME
                                                                    1040 - J<br>Eco for Business Studies
                                                                    II<br>Lecture<br>2:30PM - 5:15PM<br>Wu Ho Man Yuen
                                                                    Bldg 407<br>Instructors: <br>Dr. FU Rao</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">3:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">4:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                                    class="">5:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="PSLEVEL3GRIDODDROW" rowspan="1" scope="row"><span
                                                                    class="">6:00PM</span></td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                            <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- End HTML Area -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>