<!DOCTYPE html>
<html>

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-23JZF546MQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-23JZF546MQ');
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" href="../../../image/avatar.ico" />
  <title>2023-24 Term1 Timetable</title>
  <link rel="stylesheet" type="text/css" href="../../../css/timetable.css">

  <!-- return icon stylesheet -->
  <link rel="stylesheet" type="text/css" href="../../../css/navbar.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/814179a032.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Navigation Bar -->
  <script>
    fetch('https://raw.githubusercontent.com/Gavin-OP/Gavin-OP.github.io/master/public/component/common/navbar.html')
      .then(response => response.text())
      .then(htmlCode => {
        document.getElementById('navBar').innerHTML = htmlCode;
      })
      .catch(error => console.error('Error fetching code:', error));
  </script>
  <div id="navBar"></div>





  <!-- timetable -->
  <div style="display: flex; justify-content: center; align-items: center;">
    <table>
      <tbody>
        <tr>
          <td>
            <table role="presentation" border="0" id="ACE_width" cellpadding="0" cellspacing="0" cols="11" width="817">
              <tbody>
                <tr>
                  <td height="45" colspan="3"></td>
                  <td valign="top" align="left">
                    <div
                      style="border: 2px solid #e6e6e6; padding: 20px; border-radius: 5px; background-color: #f5f5f5; text-align: center;">
                      <table cellspacing="0" role="presentation" dir="ltr" cols="1" width="776" cellpadding="0">
                        <tbody>
                          <tr>
                            <td class="PSLEVEL1GRIDLABEL" align="left">
                              <div id="win0divSSR_DUMMY_RECGP$0">2023-2024 Term1 Schedule</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table dir="ltr" border="0" cellpadding="2" cellspacing="0" cols="1" width="100%"
                                class="PSLEVEL1GRID" style="border-style:none">
                                <tbody>
                                  <tr id="trSSR_DUMMY_REC$0_row1" valign="center">
                                    <td align="left" width="702" height="18"
                                      class="PABACKGROUNDINVISIBLE PSGRIDFIRSTCOLUMN">
                                      <div id="win0divDERIVED_CLASS_S_HTMLAREA$0">
                                        <div style="min-width:702px; ">
                                        </div>
                                        <div>
                                          <table cellspacing="0" cellpadding="2" width="100%" class="PSLEVEL3GRIDODDROW"
                                            id="WEEKLY_SCHED_HTMLAREA" summary="Weekly Schedule">
                                            <colgroup span="1" width="9%" align="center" valign="middle">
                                            </colgroup>
                                            <colgroup span="7" width="13%" align="center" valign="middle">
                                            </colgroup>
                                            <tbody>
                                              <tr>
                                                <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">Time</th>
                                                <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">Monday<br>
                                                </th>
                                                <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                  Tuesday<br>
                                                </th>
                                                <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                  Wednesday<br>
                                                </th>
                                                <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                  Thursday<br>
                                                </th>
                                                <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">Friday<br>
                                                </th>
                                                <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">
                                                  Saturday<br>
                                                </th>
                                                <th scope="col" align="center" class="PSLEVEL3GRIDODDROW">Sunday<br>
                                                </th>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">8:00AM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">9:00AM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">FINA
                                                    4150 - A<br>Quan Methods for Fin'l Deriva<br>Lecture<br>9:30AM -
                                                    12:15PM<br>Esther Lee Bldg 401<br>Instructors: <br>Professor LAW
                                                    Ka Fai</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">10:00AM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">CSCI
                                                    3170 - -<br>Intro to Database Systems<br>Lecture<br>10:30AM -
                                                    11:15AM<br>William M W Mong Eng Bldg LT<br>Instructors:
                                                    <br>Professor WONG Man Hon</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">11:00AM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">12:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">CSCI
                                                    2510 - -<br>Computer Organization<br>Lecture<br>12:30PM -
                                                    2:15PM<br>Yasumoto Int'l Acad Park LT7<br>Instructors:
                                                    <br>Professor YANG Ming Chang</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">CSCI
                                                    2510 - -<br>Computer Organization<br>Lecture<br>12:30PM -
                                                    1:15PM<br>Lady Shaw Bldg LT2<br>Instructors: <br>Professor YANG
                                                    Ming Chang</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">1:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">2:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">CSCI
                                                    2510 - -T01<br>Computer Organization<br>Interactive
                                                    Tutorial<br>2:30PM - 3:15PM<br>Lee Shau Kee Building
                                                    LT4<br>Instructors: <br>Professor YANG Ming Chang</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="4"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">CSCI
                                                    3170 - -<br>Intro to Database Systems<br>Lecture<br>2:30PM -
                                                    4:15PM<br>Mong Man Wai Bldg LT1<br>Instructors: <br>Professor
                                                    WONG Man Hon</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">3:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">4:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">CSCI
                                                    3170 - -T03<br>Intro to Database Systems<br>Interactive
                                                    Tutorial<br>4:30PM - 5:15PM<br>Mong Man Wai Bldg
                                                    703<br>Instructors: <br>Professor WONG Man Hon</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">5:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">6:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">FINA
                                                    4320 - A<br>China Equity Securities Market<br>Lecture<br>6:30PM
                                                    - 9:15PM<br>Yasumoto Int'l Acad Park 503<br>Instructors: <br>Mr.
                                                    LAU Kwan Ho</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">FINA
                                                    4370 - A<br>Derivatives Trad: Ana &amp;
                                                    Strate<br>Lecture<br>6:30PM - 9:15PM<br>Mong Man Wai Bldg
                                                    702<br>Instructors: <br>Professor PARK Joohong</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="6"
                                                  style="color:rgb(0,0,0);background-color:rgb(182,209,146);text-align: center;">
                                                  <span class=""
                                                    style="color:rgb(0,0,0);background-color:rgb(182,209,146);">FINA
                                                    3350 - A<br>Foreign Exchange MKT Practices<br>Lecture<br>6:30PM
                                                    - 9:15PM<br>Wu Ho Man Yuen Bldg 408<br>Instructors: <br>Mr.
                                                    TSANG Tak Sang</span>
                                                </td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">7:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="2" scope="row"><span
                                                    class="">8:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td class="PSLEVEL3GRIDODDROW" rowspan="1" scope="row"><span
                                                    class="">9:00PM</span></td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                                <td class="PSLEVEL3GRIDODDROW">&nbsp;</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>