.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 100vw; */
    /* min-height: 85vh; */
    margin: 0 auto;
    /* overflow: hidden; */
    justify-content: space-between;
    /* background-color: #dbdbdb; */
}

.header-text-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    /* width: 65vw; */
    max-width: 1500px;
    /* Allow content to wrap to the next line if needed */
}

.left-content {
    flex: 1;
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30vh;
    padding-left: 3%
}

.left-content h2 {
    font-size: 80px;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffffff, #555555);
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
}

.left-content h1 {
    font-size: 190px;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffffff, #555555);
    -webkit-background-clip: text;
    color: transparent;
}

.right-content {
    flex: 1;
    text-align: left;
    font-size: 30px;
    margin-top: 30vh;
    padding-left: 10%;
    padding-top: 6%;
    color: #dbd9d9;
    max-width: 48%;
    padding-right: 3%;
}

.OP {
    color: #86868b;
}

.right-content span {
    background: linear-gradient(to right, #51a5de, #7b40bd);
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
}

.gradient-line {
    height: 2px;
    width: 80%;
    background: linear-gradient(to right, #0b0d0f, #dbdbdb61, #0b0d0f);
    margin-bottom: 10rem;
}
/* 
.arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -23.2rem;
    z-index: 1;
}

.arrow {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #dbdbdb;
    border-top: 2px solid transparent;
    animation: spin 3s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.gradient-circle {
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: 2rem;
}

.gradient-circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0b0d0f, #dbdbdb61, #0b0d0f);
    border-radius: 1px;
    animation: spin 3s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */