.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-height: 85vh;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: #dbdbdb; */
}

.header-text-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    /* Allow content to wrap to the next line if needed */
}

.left-content {
    flex: 1;
    text-align: left;
    font-size: 70px;
    padding: 1rem;
    font-weight: bold;
    padding-bottom: 10vh;
    margin-top: 40vh;
    margin-left: 17vw;

}

.left-content h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 6vh;
    background: linear-gradient(to bottom, #0b0d0f, #dbdbdb);
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    margin-top: 40vh;
    padding-top: 40vh;
}

.right-content {
    flex: 1;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    padding: 1rem;
    margin-top: 45vh;
    margin-right: 15vw;
    max-width: 25vw;
    color: #dbd9d9;
}

.OP {
    color: #5a5b5d;
}

.right-content span {
    background: linear-gradient(to right, #51a5de, #7b40bd);
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
}

.gradient-line {
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #0b0d0f, #dbdbdb);
    margin-bottom: 15rem;
}