.internship-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.gradient-sentence {
    text-align: center;
    margin-bottom: 3rem;
    min-width: 1900px;
}

.gradient-sentence p {
    font-size: 6rem;
    color: #86868b;
    padding-right: 50%;
}

.internship-highlight {
    background: linear-gradient(to right, #be22ff, #7418d4, #d61635, #ff981f);
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    margin-left: 20%;
    /* Adjust the color as needed */
}

.internship-cards {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 5rem;
    min-width: 1500px;
    margin-bottom: 10rem;
    padding-right: 2rem;
    margin-left: 2rem;
}

.internship-card {
    background-color: #000000;
    /* Dark background color */
    color: #fff;
    /* Text color */
    padding: 1rem;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(77, 77, 77, 0.1);
    min-height: 500px;
    /* Shadow effect */
    margin: 1rem;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 550px;
    min-width: 550px;
    /* Adjust the width as needed */
}

.internship-card h1 {
    font-size: 100px;
    text-align: left;
    /* margin-left: -10rem; */
    font-weight: lighter;
    color: #4f4f51;
}

.internship-card h2 {
    font-size: 30px;
    margin-bottom: 1rem;
    text-align: left;
}

.internship-card p {
    margin-top: 4rem;
    font-size: 1rem;
    color: #89898d;
}

.company-name1 {
    background: linear-gradient(to right, #01d8d5, #0078ff);
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
}

.company-name2 {
    background: linear-gradient(to right, #db1626, #de9059);
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
}

.company-name3 {
    background: linear-gradient(to right, #9d56df, #524ef1);
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
}