.project-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: 5rem;
}

.project-highlight {
    text-align: end;
    background: linear-gradient(to right, #37e96c, #03f6f4, #58b2fb, #7467c9);
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    padding-right: 5rem;
}


.projectcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 5rem;
    /* background: radial-gradient(circle at top center, #718497, #29323c); */
}

.projectcard-container .project-item {
    position: relative;
    width: 300px;
    height: 100%;
    margin: 1rem;
    cursor: pointer;
    border-radius: 35px;
    background-size: cover;
    background-position: center;
    /* transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); */
    overflow: hidden;
    background-color: #1d1f20;
    display: flex;
    /* box-shadow: 2px 2px 4px #2f2f2f8c, -2px -2px 4px #00000077; */
}

.project-image-container {
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 2rem; */
    /* padding-top: 4rem; */
    /* padding-bottom: 4rem; */
}

.project-image {
    height: 100%;
    max-width: 490px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-position: center;
    visibility: hidden;
    /* display: none; */
}

/* .projectcard-container .project-item .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background: linear-gradient(to right, rgba(152, 21, 21, 0.35) 65%, transparent);
} */

/* .projectcard-container .project-item .content {
    display: flex;
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 10px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
} */

/* .projectcard-container .project-item .content .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
}

.projectcard-container .project-item .content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #fff;
    width: 100%;
}

.projectcard-container .project-item .content .text div {
    width: calc(100% - 70px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.projectcard-container .project-item .content .text .tit {
    font-weight: bold;
    font-size: 18px;
    font-family: "Didot";
}

.projectcard-container .project-item .content .text .sub {
    transition-delay: 0.1s;
}

.projectcard-container .project-item:nth-child(1) .iconfont {
    color: brown;
}

.projectcard-container .project-item:nth-child(2) .iconfont {
    color: orangered;
}

.projectcard-container .project-item:nth-child(3) .iconfont {
    color: skyblue;
}

.projectcard-container .project-item:nth-child(4) .iconfont {
    color: #5d9cec;
}

.projectcard-container .project-item:nth-child(5) .iconfont {
    color: #ac92ec;
} */

.projectcard-container .project-item.active {
    flex: 1;
    border-radius: 35px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectcard-container .project-item.active .shadow {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 65%, transparent);
}

/* .projectcard-container .project-item.active .content {
    bottom: 20px;
    left: 20px;
} */

.projectcard-container .project-item.active .project-content .text div {
    opacity: 1;
}

.active .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    visibility: visible;
    display: block;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

#project-image3 {
    height: 77%;
    max-width: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

#project-image-container3 {
    display: none;
}

.project-detail-1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    /* justify-content: center; */
    color: white;
    /* visibility: hidden; */
    transition: opacity 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.project-detail-3 {
    padding-top: 5rem;
    text-align: center;
    justify-content: center;
    color: #89898d;
    /* visibility: hidden; */
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    /* display: none; */
}

.project-small-detail3 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: inline-block;
}

.project-detail-3 .span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #89898d;
}

.project-active-detail3 {
    display: none;
}

.projectcard-container .project-item.active .project-detail-3 {
    padding-top: 5rem;
    margin-bottom: -1rem;
    text-align: center;
    justify-content: start;
    color: #89898d;
    /* visibility: visible; */
    display: block;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.projectcard-container .project-item.active .project-small-detail3 {
    display: none;
}

.projectcard-container .project-item.active .project-active-detail3 {
    display: block;
}

.projectcard-container .project-item.active #project-image-container3 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectcard-container .project-item.active .project-detail-1 {
    transition: opacity 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.projectcard-container .project-item.active .project-small-detail1 {
    display: none;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    /* Add this line to center text horizontally */
}


#project-wechat-analysis {
    /* set background image fit the size */
    background-size: cover;
    background-position: left center;
    /* set background image fit the size */
    background-image: url(../../public/image/wechat_analysis_backgroud.png);
    /* transition: background-position 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); */
}